language: cpp
matrix:
  include:
  - os: linux
    dist: xenial
    sudo: required
    compiler: gcc
    env:
      - MATRIX_EVAL="CC=gcc && CXX=g++"
  - os: linux
    dist: xenial
    sudo: required
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-7
    env:
      - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
  - os: linux
    dist: xenial
    sudo: required
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-9
    env:
      - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
  - os: osx
    osx_image: xcode9.3
    compiler: clang
    env:
      - MATRIX_EVAL="CC=clang && CXX=clang++"
  - os: osx
    osx_image: xcode10.2
    compiler: clang
    env:
      - MATRIX_EVAL="CC=clang && CXX=clang++"

before_install:
- eval "${MATRIX_EVAL}"
- if [ "${TRAVIS_OS_NAME}" = "linux" ]; then sudo apt-get update -qq && sudo apt-get
  install -qq qtbase5-dev libqt5opengl5-dev; fi
- if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew update && brew install qt && export PATH="/usr/local/opt/qt/bin:$PATH"; fi
#Hombrew bug: https://github.com/Homebrew/homebrew-core/issues/8392
script:
- mkdir build
- cd build
- cmake .. -DWITH_QT5=ON -DWITH_CCACHE=OFF
- make -j2
- make install
after_success:
- pwd && sh ../script_create_bin_dist.sh ${TRAVIS_OS_NAME} && ls
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: J3HImuvqT5PuPyLWdx+ujkR2sPKGORxldFM4blV81jEaijTLm8Vyuu2iWS1EsJnNWu1w4Heu9LmSF9a5l4IrG1q678CCXOVUkRBGO0mMXfXtGq5qXcui8RIdGW8Tm7uU5iaXIBj8tqiGULtYgy0AelgqpWY8jp6tkZTOYOhadOM6iWOw5YBQfwZ8xLJS6K/HI1jt9MDr/Zm5SJywGnntexcS7PiV9picLen+D8wfkrcB9EPkXxeBSMvflOOVZvQm0AF6obAZuzB6d6beeJUdCuG/4TzOlYZSlH9ETNi11/iA7y+astvSkb/oPe2f+pCSJ/w4+RLWrP8E3droKJ6H8r0C+si6R37akdrARamC16FS88+KP3Qg8lLKK/F/A6CuOWBxJdDoO6MS0fw2fTjB1EMxOwmfZeuF+/Hl1yxh/ZlqBtNeuA0ea5/84nMyytGEnDT0AhjlSR5XVIkNj/SpTuL7d5l1Z8rVvuEdcaD9G0WHfIiF3cR4CTHLq1Rok+ek3vOBJNyUOSO/ZapelMZwF1XchkdRNHAj5fjzMvTf0/KlWtj/oZgybtuB7Zln1HhJ4YjyUt1BFgYkSgchizVm+YP+Ecp0VZxh3LM8iAnx8U6XC2154Mt+8jIFZlWHrFqcYpgscIvOm0qmeVJTjyNerHVUSLmU1xVsZiN/VkhKiTk=
  file: micmac_${TRAVIS_OS_NAME}.tgz
  on:
# Travis release bug : https://github.com/travis-ci/travis-ci/issues/2498
# it's important to use these options
    tags: true
    all_branches: true
    repo: micmacIGN/micmac
