include/CodeGen_*.h
*.o
*.aux
*.bbl
*.ilg
*.idx
*.ind
*.blz
*.blg
*.log
*.out
*.toc
*.ilg
*.ind
MMVII/MMVII-TestDir/Input/Files/RelTest.xml
MMVII/MMVII-TestDir/Input/Files/RelTest_0-5.xml
.*.d
!bin/
bin/*
!bin/Makefile
!bin/Mk-MMVII.makefile
html/
latex/
doxygen/
src/GeneratedCodes/
